<footer class="uk-background-secondary uk-light uk-padding-small" style="color:whitesmoke">
    <div class="uk-container uk-clearfix">
        <section class="uk-flex uk-flex-center">{{@site.title}}&nbsp;&copy;&nbsp;{{date format="YYYY"}}
        </section>
        <nav class="uk-flex uk-flex-center">
            <span>Power&nbsp;by&nbsp;</span>
            <a class="uk-link-reset" href="https://ghost.org">ghost</a>
            <span>,&nbsp;Theme&nbsp;</span>
            <a class="uk-link-reset" href="https://github.com/nediiii/giaugt">ghostikiu</a>
        </nav>
    </div>
</footer>
