<section>
    <div class="uk-flex uk-flex-center hue-rotate">
        <div style="width:26px;margin:5px">
            <a href="https://github.com/nediiii/" target="_blank">
                {{> "icons/github-brands"}}
            </a>
        </div>
        <div style="width:26px;margin:5px">
            <a href="https://gitlab.com/nediiii/" target="_blank">
                {{> "icons/gitlab-brands"}}
            </a>
        </div>
        <div style="width:26px;margin:5px">
            <a href="https://weibo.com/p/1005055602797577" target="_blank">
                {{> "icons/weibo-brands"}}
            </a>
        </div>
        <div style="width:26px;margin:5px">
            <a href="https://twitter.com/varnediiii" target="_blank">
                {{> "icons/twitter-brands"}}
            </a>
        </div>
    </div>
</section>
